<html>
<body>
<h2>Welcome to PayTab</h2>
<p>
This is a standard home page. Navigate to your respective pages from the links below.
Add/Edit only your page and controller. Timely commit your code and stay in sync with other developers. 
<br>
Remember you should commit only your html and controller page to AVOID CONFLICTS with other developers. 
However, if you do need to add to other page or create a new page please inform the affected parties before doing so. Once again keep communicating. 
</p>

<p ng-click=changeloc("1")>Maulik Parikh</p>
<p ng-click=changeloc("2")>Meet Shah</p>
<!-- START Loading GIF Util Response is received -->
<div align="center" style="vertical-align: middle; opacity:0.90;filter: Alpha(opacity=100);" >
	<loading style="position: absolute; margin: auto; left: 0px;top: 0px;height: 800px ; width: 100%;background-color:#FFFFFF;">{{loading}}{{myHeader}}</loading>
</div>
<!-- STOP Loading GIF Util Response is received -->
<p ng-click=changeloc("3")>Krutarth Joshi</p>
<p ng-click="clickMe();">Monil Patel</p>
<p ng-click=changeloc("4")>Ritesh Patel</p>
<p ng-click=changeloc("5")>Jaimil Shah</p>
</body>
</html>